<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename ='anotherstyle.css')}}">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ad sint ipsum vero numquam earum eos molestiae nisi reprehenderit quos laudantium dicta nihil, autem facere recusandae natus ab saepe sequi.
    Vitae ut eligendi sapiente doloremque alias. Quisquam at hic explicabo, non minus ipsam aspernatur accusantium porro debitis totam consectetur beatae rerum molestias repudiandae placeat recusandae numquam corrupti eaque? Doloremque, perspiciatis.
    Tempora dicta placeat, iste inventore quas quasi velit nulla culpa porro cumque atque repellendus commodi pariatur, sapiente aliquid! Eius error facere laudantium natus ipsam necessitatibus assumenda molestiae quis beatae ut!
    Consequuntur sint modi aperiam cumque nisi nihil officia sed dolorum amet placeat tempora, magni reiciendis debitis odio aliquam voluptatibus ullam atque repellendus nam iusto dignissimos! A quis tempora repudiandae illum.
</body>
</html>